#page_content_container {
	margin: 33px 10px;
	padding: 10px;
}

#bookflow {

}

/*
	Declarative Class
*/
.ContentContainer {
	margin-right: 100px;
	margin-left: 100px;
	display: block;
};

.InlineElement {
	display: inline;
}

.InlineBlockElement {
	display: inline-block;
}

/*
	Specific Class
*/
.BookItem {
	margin: 0px 100px;
	height: 144px;
	background-color: #F6EAE1;
	border: solid 1px;
}

.BookAuthor {
}

.BookCoverImage {
	margin: 5px;
}

.BookInfo {
	margin: 5px;
	width: 363px;
	height: 121px;
	border: dashed;
}

.BookDetail {
	margin-right: 100px;
	margin-left: 100px;
	display: block;
	width: 600px;
	border: dashed;
}

.SendMessagePage {
	margin-right: 100px;
	margin-left: 100px;
	display: block;
	width: 600px;
	border: dashed;
}

ul
{
    list-style-type: none;
}
